<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/header_footer.css">
    <link rel="stylesheet" href="static/profile.css">
</head>
<body>
    <header class="header">
        <div class="ls">
            <button><a href="catalog.html">Catalog</a></button>
            <button><a href="donate.html">Donate</a></button>
            <input></input>
        </div>
        <img class="logo">
        <div class="rs">
            <button class="Default_button"><img></button>
            <button class="Default_button"><a><img></a></button>
            <button class="Default_button"><a href="profile.html">Profile</a></button>
        </div>
    </header> 
    <main>
        <div class="container_profile">
            <div class="other_tabs_selection"></div>
            <div class="profile_information_selection"></div>
        </div>
        <div class="main_achievements_selection">
            <h2>Achievements</h2>
            <div class="container_achievements"></div>
        </div>
    </main>
    <footer class="footer">
        <div class="left_selection">
            <img class="logo">
        </div>
        <div class="cenrer_selection">
            <span>Catalog</span>
            <span>Sells</span>
            <span>New Products</span>
            <span>Support</span>
        </div>
        <div class="rigth_selection">
            <p>Contact information</p>
            <div class="social_icons_footer">
                <img href="static/icons/telegram.png" alt="Telegram">
                <img href="static/icons/telegram.png" alt="Isntagram">
                <img href="static/icons/telegram.png" alt="VK">
            </div>
            <p>+79034187226</p>
            <p>Koshkidko2007@mail.ru</p>
        </div>
    </footer>
</body>
</html>