<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/header_footer.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <header class="header">
        <div class="ls">
            <button><a href="catalog.html">Catalog</a></button>
            <button><a href="donate.html">Donate</a></button>
            <input></input>
        </div>
        <img class="logo">
        <div class="rs">
            <button class="Default_button"><img></button>
            <button class="Default_button"><a><img></a></button>
            <button class="Default_button"><a href="profile.html">Profile</a></button>
        </div>
    </header> 
    <main>
        <div class="most_popular_games">
            <img>
            <h1>Title</h1>
            <h2>Description</h2>
            <span>0$<span>
            <br><br>
            <button><a>busket_button</a></button>
            <button><a href="game_page.html">Deatail</a></button>
            <button>like_button</button>
        </div>
        <div class="category_list">
            <div class="Bestsellers">  
                <span>Bestsellers</span>
                <button class="Default_button">See all</button>
                <div>
                    <article class="game_card">
                        <img>
                        <span></span>    
                    </article>
                    <article class="game_card">
                        <img>
                        <span></span>    
                    </article>
                    <article class="game_card">
                        <img>
                        <span></span>    
                    </article>
                    <article class="game_card">
                        <img>
                        <span></span>
                    </article>
                    <article class="game_card">
                        <img>
                        <span></span>
                    </article>
                    <article class="game_card">
                        <img>
                        <span></span>
                    </article>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="left_selection">
            <img class="logo">
        </div>
        <div class="cenrer_selection">
            <span>Catalog</span>
            <span>Sells</span>
            <span>New Products</span>
            <span>Support</span>
        </div>
        <div class="rigth_selection">
            <p>Contact information</p>
            <div class="social_icons_footer">
                <img href="static/icons/telegram.png" alt="Telegram">
                <img href="static/icons/telegram.png" alt="Isntagram">
                <img href="static/icons/telegram.png" alt="VK">
            </div>
            <p>+79034187226</p>
            <p>Koshkidko2007@mail.ru</p>
        </div>
    </footer>
</body>
</html>